#contact-area {
    padding: 40px 0 120px;
}
.contact-box {
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    padding:50px 50px 35px;
    background-color:#fff;
    border-radius:6px;
}
.contact-box .contact-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: flex-start;
    flex-direction: column;
}
.contact-box .contact-label .primaryItem{
    line-height: 1.1;
}
.contact-box .contact-label span + span{
    font-size: 10px;
}
.contact-box .contact-label.fieldRequired:after {
    content: '*';
    top: 0px;
    right: -12px;
    position: absolute;
    color: #ff0000;
}
@media screen and (max-width: 768px) {
    .contact-box .contact-label {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .contact-box .contact-label.fieldRequired:after {
        content: '*';
        left: 4px;
        right: unset;
    }
}
.contact-box input {
    height:48px;
    border:1px solid #f7f6f5;
    font-size:15px;
    background-color:#f7f6f5;
    font-weight:500
}
.contact-box textarea {
    border:1px solid #f7f6f5;
    padding-top:10px;
    background-color:#f7f6f5;
    font-size:15px;
    font-weight:500
}
.contact-box button {
    background-color:#325eff;
    border:0;
    color:#fff;
    padding:10px 30px;
    border-radius:4px;
    cursor:pointer;
    outline:0;
    font-weight:500;
    font-size:15px;
    margin-top: 20px;
}
.contact-box button:hover {
    background-color:#0f39cf;
}
#form-message {
    padding: 40px 0 20px;
}
