.post_flex {
    display: flex;
}
.post_flex_p {
    display: flex;
    margin-top: 0;
    margin-bottom: 16px;
}
.post_flex_center_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_flex_center {
    display: flex;
    align-items: center;
}

#events_blog * {
    color: #000000;
}
#events_blog .p_item {
    margin: 8px 0;
}
#events_blog .introduce_section {
    margin: 8px 0;
}
#events_blog .introduce_photo {
    margin-bottom: 16px;
}
#events_blog .introduce_item {
    margin: 4px 0;
}
#initiative_blog * {
    color: #000000;
}
#initiative_blog .post_flex_center_center{
    text-align: center;
}

#aboutUs_blog * {
    color: #000000;
}
#aboutUs_blog .p_item {
    margin-left: 24px;
}
#aboutUs_blog .p_item .dash {
    margin-right: 16px;
}
#aboutUs_blog .p_intro .duty {
    font-weight: 600;
}
#aboutUs_blog .introduce_photo {
    margin-bottom: 16px;
}
#aboutUs_blog .introduce_item {
    margin: 4px 0;
}
