<nav class="navbar-section text-center">
        <div class="h_nav-section">
                <div class="h_nav_header">
                        <img class="h_logo" alt="<%= config.title%>" src="/swiper/images/carousel01.png" >
                        <div class="h_title_area">
                                <div>
                                        <%= config.title%>
                                </div>
                                <div>
                                        <%= config.subtitle%>
                                </div>
                        </div>
                </div>
                <div class="h_nav_tree">
                        <ul class="first">
                                <li><a href="/">Home</a>
                                </li>
                                <li>About Us
                                        <ul class="second">
                                                <li>二级菜单</li>
                                        </ul>
                                </li>
                                <li><a href="/events">Events</a>
                                        <ul class="second">
                                                <li>二级菜单</li>
                                        </ul>
                                </li>
                                <li>Initiative
                                        <ul class="second">
                                                <li>二级菜单</li>
                                        </ul>
                                </li>
                                <li><a href="/categories/posts">Blog</a>
                                </li>
                                <li>Get Involved
                                        <ul class="second">
                                                <li>二级菜单</li>
                                        </ul>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
