<nav class="navbar-section text-center">
        <div class="h_nav-section">
                <div class="h_nav_header">
                        <span class="goto_logo">
                                <a href="/"><img class="h_logo goto_logo" alt="<%= config.title%>" src="https://wp-img.daozhao.com.cn/thefoodsecurity/logo/big_logo.jpeg" ></a>
                        </span>
                        <div class="h_alliance_area">
                                <span class="goto_logo"><a href="http://www.hzau.edu.cn/" target="_blank"><img class="h_alliance_logo" src="https://wp-img.daozhao.com.cn/thefoodsecurity/alliance/HZAU.png" ></a></span>
                                <span class="goto_logo"><a href="https://www.ifpri.org/" target="_blank"><img class="h_alliance_logo" src="https://wp-img.daozhao.com.cn/thefoodsecurity/alliance/IFPRI.png" ></a></span>
                                <span class="goto_logo"><a href="https://www.cimmyt.org/" target="_blank"><img class="h_alliance_logo" src="https://wp-img.daozhao.com.cn/thefoodsecurity/alliance/CIMMYT.jpg" ></a></span>
                                <span class="goto_logo"><a href="https://www.iamo.de/en/" target="_blank"><img class="h_alliance_logo" src="https://wp-img.daozhao.com.cn/thefoodsecurity/alliance/IAMO.png" ></a></span>
                        </div>
                </div>
                <div class="h_nav_tree">
                        <ul class="first">
                                <li><a href="/">Home</a>
                                </li>
                                <li><a href="/about/">About Us</a>
                                </li>
                                <li><a href="/events/">Events</a>
                                </li>
                                <li><a href="/initiative/">Initiative</a>
                                </li>
                                <li><a href="/<%= config.category_dir%>/posts/">Blogs</a>
                                </li>
                                <li><a href="/members/">Get Involved</a>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
<script>
        function addActive() {
                const childrenList = document.querySelectorAll('.h_nav_tree .first>li');
                childrenList.forEach(item => item.classList.remove('active'));
                childrenList.forEach(item => {
                        const hrefList = [].map.call(item.querySelectorAll('a'), (it) => it.getAttribute('href'));
                        const isActive = hrefList.some(item => item === location.pathname);
                        if (isActive) {
                                item.classList.add('active');
                        }
                });

        }

        addActive();
</script>
