<nav class="navbar-section text-center">
        <div class="h_nav-section">
                <div class="h_nav_header">
                        <img class="h_logo" alt="<%= config.title%>" src="/swiper/images/carousel01.png" >
                        <div class="h_title_area">
                                <div class="h_title">
                                        <%= config.title%>
                                </div>
                                <div class="h_subtitle">
                                        <%= config.subtitle%>
                                </div>
                        </div>
                        <div class="h_alliance_area">
                                <div>
                                        <a href="http://www.hzau.edu.cn/" target="_blank"><img class="h_alliance_logo" src="/img/logo/HZAU.jpeg" ></a>
                                        <a href="https://www.ifpri.org/" target="_blank"><img class="h_alliance_logo" src="/img/logo/IFPRI.png" ></a>
                                        <a href="https://www.cimmyt.org/" target="_blank"><img class="h_alliance_logo" src="/img/logo/CIMMYT.png" ></a>
                                        <a href="https://www.iamo.de/en/" target="_blank"><img class="h_alliance_logo" src="/img/logo/IAMO.png" ></a>
                                </div>
                        </div>
                </div>
                <div class="h_nav_tree">
                        <ul class="first">
                                <li><a href="/">Home</a>
                                </li>
                                <li><a href="/events/">Events</a>
                                </li>
                                <li><a href="/initiative/">Initiative</a>
                                </li>
                                <li><a href="/categories/posts/">Blog</a>
                                </li>
                                <li>About Us
                                </li>
                                <li>
                                        <a href="/application/">Get Involved</a>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
<script>
        function addActive() {
                const childrenList = document.querySelectorAll('.h_nav_tree .first>li');
                childrenList.forEach(item => item.classList.remove('active'));
                childrenList.forEach(item => {
                        const hrefList = [].map.call(item.querySelectorAll('a'), (it) => it.getAttribute('href'));
                        const isActive = hrefList.some(item => item === location.pathname);
                        if (isActive) {
                                item.classList.add('active');
                        }
                });

        }

        addActive();
</script>
