<nav class="navbar-section text-center">
        <div class="h_nav-section">
                <div class="h_nav_header">
                        <img class="h_logo" alt="<%= config.title%>" src="/swiper/images/carousel01.png" >
                        <div class="h_title_area">
                                <div class="h_title">
                                        <%= config.title%>
                                </div>
                                <div class="h_subtitle">
                                        <%= config.subtitle%>
                                </div>
                        </div>
                </div>
                <div class="h_nav_tree">
                        <ul class="first">
                                <li><a href="/">Home</a>
                                </li>
                                <li>About Us
                                        <ul class="second">
                                                <li>二级菜单</li>
                                        </ul>
                                </li>
                                <li><a href="/events/">Events</a>
                                        <ul class="second">
                                                <li><a href="/posts/test/">test</a></li>
                                                <li><a href="/posts/test/">test</a></li>
                                        </ul>
                                </li>
                                <li>Initiative
                                        <ul class="second">
                                                <li>二级菜单</li>
                                        </ul>
                                </li>
                                <li><a href="/categories/posts/">Blog</a>
                                </li>
                                <li>Get Involved
                                        <ul class="second">
                                                <li>二级菜单</li>
                                        </ul>
                                </li>
                        </ul>
                </div>
        </div>
</nav>
<script>
        function addActive() {
                const childrenList = document.querySelectorAll('.h_nav_tree .first>li');
                childrenList.forEach(item => item.classList.remove('active'));
                childrenList.forEach(item => {
                        const hrefList = [].map.call(item.querySelectorAll('a'), (it) => it.getAttribute('href'));
                        const isActive = hrefList.some(item => item === location.pathname);
                        if (isActive) {
                                item.classList.add('active');
                        }
                });

        }

        addActive();
</script>
