<nav class="navbar-section text-center">
        <div class="nav_tree">
                <ul class="first">
                        <li>About Us
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                        <li>Events
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                        <li>Initiative
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                        <li>Blog
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                        <li>Get Involved
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                </ul>
        </div>
        <div id="recent-posts"></div>
</nav>
