<nav class="navbar-section text-center">
        <div class="nav_tree">
                <ul class="first">
                        <li><a href="/">Home</a>
                        </li>
                        <li>About Us
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                        <li><a href="/events">Events</a>
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                        <li>Initiative
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                        <li><a href="/categories/posts">Blog</a>
                        </li>
                        <li>Get Involved
                                <ul class="second">
                                        <li>二级菜单</li>
                                </ul>
                        </li>
                </ul>
        </div>
        <div id="recent-posts"></div>
</nav>
